.markdown {
  text-align: left;
  color: rgb(34, 34, 34);
  &.small {
    color: rgb(87, 87, 87);
    font-size: .85em;
    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      height: 3.5em;
      bottom: 0;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 249, 1) 0%,
        rgba(255, 255, 249, 1) 30%,
        rgba(255, 255, 249, .8) 65%,
        rgba(255, 255, 249, 0) 100%
      );
      z-index: 2;
      transition: all .6s ease-in-out;
    }
  }
}
