
.icon{
  &.active {
    &:hover {
      // background-color: #ffebc141;
      background-color: #ffbfd123;
    }
    &:active {
      background-color: #ffbfd142;
    }
  }
  svg {
    color: rgb(255, 191, 209);
    transition: all 1s ease-in-out;
    &.pinned {
      transform: rotate(-38deg);
    }
  }
}